<meta charset="UTF-8" />
<title>{{#page.title}}{{page.title}}{{/page.title}}{{^page.title}}{{i18n.header.brand}}{{/page.title}}</title>

<link rel="stylesheet" href="/output.css" />
<script src="/output.js" defer></script>
